#project
build/*.zip
extension/output/*.*
extension/lib/
extension/config.xml
WEB-INF/
unames.xml
output/
bin/

#extensions
*.project
*.class
*.DS_Store
*.classpath
/.settings
*.classpath
*.project
*.iml
/.idea
