#project
ext/*.zip
extension/output/*.*
extension/bin/
extension/lib/
extension/config.xml
WEB-INF/
unames.xml
output/

#extensions
*.project
*.class
*.DS_Store
*.classpath
/.settings
*.classpath
*.project
*.iml
/.idea
